/EarthModelUnity/Library
*.exe
/master-server/VisualStudio/Debug
/master-server/VisualStudio/Backup
/master-server/VisualStudio/_UpgradeReport_Files
/master-server/VisualStudio/MasterServer.sdf
/master-server/VisualStudio/MasterServer.v11.suo
/master-server/VisualStudio/MasterServer.vcxproj.filters
/master-server/VisualStudio/UpgradeLog.htm
/master-server/VisualStudio/UpgradeLog.XML
/ServerGrizzly/.idea
/EarthModelUnity/*.userprefs
/EarthModelUnity/Assets/test-results
/LeapMotion/.idea
/LeapMotion/LeapMotion.iml
/LeapMotion/out
/center-server/pkg
Thumbs.db
/AstronomersAndroid/.idea
/AstronomersAndroid/gen
/AstronomersAndroid/out
/AstronomersAndroid/local.properties
/center-server/src/code.google.com
/EarthModelUnity/obj
/LeapMotion/target
